.start-page{
    display: flex;
    flex-direction: row;
}
#video-header{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.start-page-conjunction{
    position: relative;
    width: 100vw;
    left: -10px;
    height: 80vh;
    display: flex;
    flex-wrap: wrap-reverse;
    margin-top: auto;
    z-index: -1;
}

.start-page-logo{
    transition: 1s;
    position: absolute;
    flex: 1;
    left: 75vw;
    top: 20vh;
    height: 40vh;
    
}
.start-page-text{
    flex:1;
    left: 10vw;
    top: 35vh;
    position: absolute;
    margin: auto;
    color: rgb(255, 255, 255);
    transition: 1s;
}
.start-page-h2{
    flex:1;
    left: 10vw;
    top: 40vh;
    position: absolute;
    color: whitesmoke;
    transition: 1s;
}

.white{
    background-color: rgb(255, 255, 255);
}
.gap{
    position: relative;
    width: 100vw;
    height: 20px;
}
.what-is-all-this-about{
    display: flex;
    flex-wrap: wrap-reverse;
    margin-top: 20px;
    margin-left: 20%;
    margin-right: 40px;
}

.text-content{
    width: 500px;
}
.image-title{
    transition: 1s;
    width: 20vw;
}


h1{
    color: black;
}
h2{    color: black;}
span{    color: black;
}